# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/NpsScriban/obj
/WriteExcel/obj
/WriteExcel/bin/Debug/netcoreapp3.1
/ddl_sql/Word_files_apy/Word_work_dir
/PanProcessor/obj/Debug/netcoreapp3.1
/PanProcessor/obj/project.nuget.cache
/PAN_Annexures_12122021
/PAN_Annexures_12122021.zip
/DeletePRAN/obj
/DeletePRAN/bin/Debug/net5.0
